name: Build

on:
    push:
        branches-ignore:
            - 'dependabot/**'
    pull_request: ~
    release:
        types: [created]
    workflow_dispatch: ~

jobs:
    tests:
        runs-on: ubuntu-latest

        name: "PHP ${{ matrix.php }} - Guzzle ${{ matrix.guzzle }}"

        strategy:
            fail-fast: false
            matrix:
                php: ["8.2", "8.3", "8.4"]

        steps:
            -
                uses: actions/checkout@v4

            -
                name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: "${{ matrix.php }}"
                    coverage: none

            -
                name: Run Composer install
                run: composer install -n

            -
                name: Run CS
                run: vendor/bin/phpcs --standard=PSR2 src/

            -
                name: Run PHPStan
                run: vendor/bin/phpstan analyse

            -
                name: Run PHPSpec
                run: vendor/bin/phpspec run
